@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    position: relative;
}

pre {
    margin-bottom: 0 !important;
}

pre.dump{
    max-height:600px; 
    overflow-y: auto; 
    border:1px solid #e9e9e9;
    background-color: #f8f9fa!important;
    color: #616161 !important;
}

pre code {
    border-radius: .5rem;
}

#doc-list{
    margin-right: 3rem;
}

p, ul>li {
    font-size: .8rem;
}
.form-check-input:hover, .form-check-label:hover{
    cursor: pointer;
}

.form-switch .form-check-input{
    width: 4em !important;
}
.form-check-input{
    height: 2em !important;
}

.list-group-item{
    border:none !important;
}

.list-group-item:first-child {
    border-top-left-radius: .5rem !important;
    border-top-right-radius: .5rem !important;
}

.list-group-item:last-child {
    border-bottom-right-radius: .5rem !important;
    border-bottom-left-radius: .5rem !important;
}
